{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>龍角產銷資訊系統</title>

  <!-- Custom fonts for this template-->
  <link href='{% static "vendor/fontawesome-free/css/all.min.css"%}' rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href='{% static "vendor/datatables/dataTables.bootstrap4.css" %}' rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href=" {% static 'css/sb-admin.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/highcharts.js' %}"></script>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">龍角產銷資訊系統</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>主頁</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>行銷管理</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          
          <a class="dropdown-item" href="member.html">會員資料查詢</a>
          <a class="dropdown-item" href="rfm.html">RFM分群</a>
          <a class="dropdown-item" href="data.html">各項指標</a>
         
    
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>作業管理</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" href="historyrecord.html">查看歷史紀錄</a>
          <a class="dropdown-item" href="material.html">物料需求規劃</a>
          <a class="dropdown-item" href="inventory.html">存貨管理</a>
          
         
    
        </div>
      </li>
      
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <div id="container"></div>
        <script>
        Highcharts.chart('container', {
          chart: {
              type: 'column'
          },
          title: {
              text: '銷售總額'
          },
          xAxis: {
              categories: ['{{drinklist1.item_name}}','{{drinklist2.item_name}}','{{drinklist3.item_name}}','{{drinklist4.item_name}}','{{drinklist5.item_name}}']
          },
          yAxis: {
              min: 0,
              title: {
                  text: '金額($)'
              },
              stackLabels: {
                  enabled: true,
                  style: {
                      fontWeight: 'bold',
                      color: ( // theme
                          Highcharts.defaultOptions.title.style &&
                          Highcharts.defaultOptions.title.style.color
                      ) || 'gray'
                  }
              }
          },
          legend: {
              align: 'right',
              x: -30,
              verticalAlign: 'top',
              y: 25,
              floating: true,
              backgroundColor:
                  Highcharts.defaultOptions.legend.backgroundColor || 'white',
              borderColor: '#CCC',
              borderWidth: 1,
              shadow: false
          },
          tooltip: {
              headerFormat: '<b>{point.x}</b><br/>',
              pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
          },
          plotOptions: {
              column: {
                  stacking: 'normal',
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          series: [{
          //     name: 'John',
          //     data: [5, 3, 4, 7, 2]
          // }, {
          //     name: 'Jane',
          //     data: [2, 2, 3, 2, 1]
          // }, {
              name: 'cus',
              data: [{{drink1amt}},{{drink2amt}},{{drink3amt}},{{drink4amt}},{{drink5amt}}]
          }]
      });
      </script>
 <div id="container2"></div>
 <script>
 Highcharts.chart('container2', {
   chart: {
       type: 'column'
   },
   title: {
       text: '顧客留存率'
   },
   xAxis: {
       categories: ['2019/10','2019/11','2019/12']
   },
   yAxis: {
       min: 0,
       title: {
           text: '百分比(%)'
       },
       stackLabels: {
           enabled: true,
           style: {
               fontWeight: 'bold',
               color: ( // theme
                   Highcharts.defaultOptions.title.style &&
                   Highcharts.defaultOptions.title.style.color
               ) || 'gray'
           }
       }
   },
   legend: {
       align: 'right',
       x: -30,
       verticalAlign: 'top',
       y: 25,
       floating: true,
       backgroundColor:
           Highcharts.defaultOptions.legend.backgroundColor || 'white',
       borderColor: '#CCC',
       borderWidth: 1,
       shadow: false
   },
   tooltip: {
       headerFormat: '<b>{point.x}</b><br/>',
       pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
   },
   plotOptions: {
       column: {
           stacking: 'normal',
           dataLabels: {
               enabled: true
           }
       }
   },
   series: [{
   //     name: 'John',
   //     data: [5, 3, 4, 7, 2]
   // }, {
   //     name: 'Jane',
   //     data: [2, 2, 3, 2, 1]
   // }, {
       name: 'cus',
       data: [0,{{firstrate}},{{secondrate}}]
   }]
});
</script>

<div id="container1"></div>
<div></div>
    <script>
      
      Highcharts.chart('container1', {
    chart: {
        type: 'line'
    },
    title: {
        text: '產品成長趨勢'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
      // categories : {{datelist}}
      categories: ['2019/01', '2019/02', '2019/03', '2019/04', '2019/05', '2019/06', '2019/07', '2019/08', '2019/09', '2019/10', '2019/11', '2019/12']
          },
    yAxis: {
        title: {
            text: '金額($)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: '濃厚奶茶',
        data: [{{sale101amt}}, {{sale111amt}}, {{sale121amt}}]
    }, {
        name: '濃厚小芋圓奶茶',
        data: [{{sale102amt}},{{sale112amt}}, {{sale122amt}}]
    }
    , {
        name: '濃厚珍珠奶茶',
        data: [{{sale103amt}},{{sale113amt}}, {{sale123amt}}]
    }, {
        name: '特農蜂蜜牛奶',
        data: [{{sale104amt}}, {{sale114amt}}, {{sale124amt}}]
    }, {
        name: '蜂蜜珍珠鮮奶',
        data: [{{sale105amt}}, {{sale115amt}}, {{sale125amt}}]
    }]
});
</script>
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}'></script>

  <!-- Core plugin JavaScript-->
  <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

  <!-- Page level plugin JavaScript-->
  <script src='{% static "vendor/chart.js/Chart.min.js" %}'></script>
  <script src='{% static "vendor/datatables/jquery.dataTables.js" %}'></script>
  <script src='{% static "vendor/datatables/dataTables.bootstrap4.js" %}'></script>

  <!-- Custom scripts for all pages-->
  <script src='{% static "js/sb-admin.min.js" %}'></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

</body>

</html>