{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>龍角產銷資訊系統</title>

  <!-- Custom fonts for this template-->
  <link href='{% static "vendor/fontawesome-free/css/all.min.css"%}' rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href='{% static "vendor/datatables/dataTables.bootstrap4.css" %}' rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href=" {% static 'css/sb-admin.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">龍角產銷資訊系統</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>主頁</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>行銷管理</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          
          <a class="dropdown-item" href="member.html">會員資料查詢</a>
          <a class="dropdown-item" href="rfm.html">RFM分群</a>
          <a class="dropdown-item" href="data.html">各項指標</a>
         
    
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>作業管理</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" href="historyrecord.html">查看歷史紀錄</a>
          <a class="dropdown-item" href="material.html">物料需求規劃</a>
          <a class="dropdown-item" href="inventory.html">存貨管理</a>
          
         
    
        </div>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

       
        <span>請輸入你想預測的日期：</span>
       <form id="searchform"  method="get" action="" accept-charset="utf-8">
            
            <input id="searchbox" name="search_res" type="dataTables" placeholder="Search">
            <input type="submit" value="OK">
        </form>
      <br>
      <span>去年同期銷量：</span>

      <table border="1" cellpadding="1" cellspacing="3">
          <th>日期</th> 
          <th>濃厚奶茶（杯）</th>
          <th>濃厚小芋圓奶茶（杯）</th>
          <th>濃厚珍珠奶茶（杯）</th>
          <th>特濃蜂蜜牛奶（杯）</th>
          <th>蜂蜜珍珠鮮奶（杯）</th>

          {% for dr in results %}
          <tr>
            <td> {{dr.sell_date}} </td>
            <td> {{dr.sell_pd1}} </td>
            <td> {{dr.sell_pd2}} </td>
            <td>{{dr.sell_pd3}} </td>
            <td>{{dr.sell_pd4}} </td>
            <td>{{dr.sell_pd5}} </td>
          <br>
         </tr>
          {% endfor %}
         </table>
      <br>
      
      
      {% comment %} <table border="1" cellpadding="1" cellspacing="3">
          
          <th>濃厚奶茶（杯）</th>
          <th>濃厚小芋圓奶茶（杯）</th>
          <th>濃厚珍珠奶茶（杯）</th>
          <th>特濃蜂蜜牛奶（杯）</th>
          <th>蜂蜜珍珠鮮奶（杯）</th>
      </table> {% endcomment %}
      <br>
       {% for r in results %}
          <span>今年{{ r.sell_date  }}預測銷量（杯）：</span><br>
          <td>濃厚奶茶：{{ r.predicted_sell_pd1 }}</td><br>
          <td>濃厚小芋圓奶茶：{{ r.predicted_sell_pd2 }}</td><br>
          <td>濃厚珍珠奶茶：{{ r.predicted_sell_pd3 }}</td><br>
          <td>特濃蜂蜜牛奶：{{ r.predicted_sell_pd4 }}</td><br>
          <td>蜂蜜珍珠鮮奶：{{ r.predicted_sell_pd5 }}</td><br>
        {% endfor %}

       <br>
       {% for r in results %}
          <span>今年{{ r.sell_date}}預測原料用量：</span><br>
          <td>紅茶（ml）：{{ r.predicted_blacktea_usage }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> 需用 {{r.predicted_blacktea_unit }} 包</span><br>
          <td>牛奶（ml）：{{ r.predicted_milk_usage }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> 需用 {{r.predicted_milk_unit }} 罐</span><br>
          <td>珍珠（g）：{{ r.predicted_pearl_usage }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> 需用 {{r.predicted_pearl_unit }} 包</span><br>
          <td>芋圓（g）：{{ r.predicted_taro_usage }}</td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span> 需用 {{r.predicted_taro_unit }} 包</span><br>
          <td>蜂蜜（g）：{{ r.predicted_honey_usage }}</td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span> 需用 {{r.predicted_honey_unit }} 罐</span><br>
        {% endfor %}

      <br>

       <span>目前存貨情況：</span>
      <table border="1" cellpadding="1" cellspacing="3">
        <th>原料編號</th> 
        <th>原料名稱</th>
        <th>剩餘量（單位：毫升、公克）</th>
        <th>安全庫存（單位：毫升、公克）</th>
      
    
      {% for u in use_list %}    
       <tr>
        <td>{{u.m_number}} </td>
        <td>{{u.m_name}}  </td>
        <td>{{u.m_left_amount}}  </td>
        <td>{{u.m_safe_inventory}}  </td>
        
       </tr> 
       <br>
       

         {% if u.m_left_amount <= u.m_safe_inventory %}
            
                  {% if u.need_to_buy_blacktea >= 0 %}
                    <span>紅茶（ml）：需進貨{{u.need_to_buy_blacktea}}包</span><br>
                  
                   {% else %}
                  {% endif %}
 

       
                  {% if u.need_to_buy_milk >= 0 %}
                    <span>牛奶（ml）：需進貨{{u.need_to_buy_milk}}罐</span><br>
                   {% else %}
                  {% endif %}
       


                  {% if u.need_to_buy_pearl >= 0 %}
                    <span>珍珠（g）：需進貨{{u.need_to_buy_pearl}}包</span><br>
                   {% else %}
                  {% endif %}
         

          
                  {% if u.need_to_buy_taro >= 0 %}
                    <span>芋圓（g）：需進貨{{u.need_to_buy_taro}}包</span><br>
                   {% else %}
                  {% endif %}
      

      
                  {% if u.need_to_buy_honey >= 0 %}
                    <span>蜂蜜（g）：需進貨{{u.need_to_buy_honey}}罐</span><br>
                   {% else %}
                  {% endif %}  
                  
          {% endif %} 
         
              
        
       
        
       
        
      {% endfor %} 

      </table>

     
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}'></script>

  <!-- Core plugin JavaScript-->
  <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

  <!-- Page level plugin JavaScript-->
  <script src='{% static "vendor/chart.js/Chart.min.js" %}'></script>
  <script src='{% static "vendor/datatables/jquery.dataTables.js" %}'></script>
  <script src='{% static "vendor/datatables/dataTables.bootstrap4.js" %}'></script>

  <!-- Custom scripts for all pages-->
  <script src='{% static "js/sb-admin.min.js" %}'></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

</body>

</html>
