{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>龍角產銷資訊系統</title>

  <!-- Custom fonts for this template-->
  <link href='{% static "vendor/fontawesome-free/css/all.min.css"%}' rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href='{% static "vendor/datatables/dataTables.bootstrap4.css" %}' rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href=" {% static 'css/sb-admin.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/highcharts.js' %}"></script>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">龍角產銷資訊系統</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>主頁</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>行銷管理</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          
          <a class="dropdown-item" href="member.html">會員資料查詢</a>
          <a class="dropdown-item" href="rfm.html">RFM分群</a>
          <a class="dropdown-item" href="data.html">各項指標</a>
         
    
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>作業管理</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" href="historyrecord.html">查看歷史紀錄</a>
          <a class="dropdown-item" href="material.html">物料需求規劃</a>
          <a class="dropdown-item" href="inventory.html">存貨管理</a>
          
         
    
        </div>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Sex</th>
                    <th>Point</th>
                    <th>Birthday</th>
                    
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Sex</th>
                    <th>Point</th>
                    <th>Birthday</th>
                    
                  </tr>
                </tfoot>
                <tbody>
                 
                  {%for cus in CusList%}
                  <tr>
                    <td>{{cus.c_name}}</td>
                    <td>{{cus.c_ID}}</td>
                    <td>{{cus.c_sex}}</td>
                    <td>{{cus.c_point}}</td>
                    <td>{{cus.c_birth}}</td>
                    
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        
        <div id="container"></div>
        <script>
        Highcharts.chart('container', {
          chart: {
              type: 'column'
          },
          title: {
              text: '男女比'
          },
          xAxis: {
              categories: ['boy','girl']
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Total fruit consumption'
              },
              stackLabels: {
                  enabled: true,
                  style: {
                      fontWeight: 'bold',
                      color: ( // theme
                          Highcharts.defaultOptions.title.style &&
                          Highcharts.defaultOptions.title.style.color
                      ) || 'gray'
                  }
              }
          },
          legend: {
              align: 'right',
              x: -30,
              verticalAlign: 'top',
              y: 25,
              floating: true,
              backgroundColor:
                  Highcharts.defaultOptions.legend.backgroundColor || 'white',
              borderColor: '#CCC',
              borderWidth: 1,
              shadow: false
          },
          tooltip: {
              headerFormat: '<b>{point.x}</b><br/>',
              pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
          },
          plotOptions: {
              column: {
                  stacking: 'normal',
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          series: [{
          //     name: 'John',
          //     data: [5, 3, 4, 7, 2]
          // }, {
          //     name: 'Jane',
          //     data: [2, 2, 3, 2, 1]
          // }, {
              name: 'cus',
              data: [{{numB}},{{numG}}]
          }]
      });
      </script>
       
      

      

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}'></script>

  <!-- Core plugin JavaScript-->
  <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

  <!-- Page level plugin JavaScript-->
  <script src='{% static "vendor/chart.js/Chart.min.js" %}'></script>
  <script src='{% static "vendor/datatables/jquery.dataTables.js" %}'></script>
  <script src='{% static "vendor/datatables/dataTables.bootstrap4.js" %}'></script>

  <!-- Custom scripts for all pages-->
  <script src='{% static "js/sb-admin.min.js" %}'></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

</body>

</html>